.about {
  background-color: @blue3;
  .border-bottom();
  z-index: 7;
}

.about__wrapper {
  padding: 30px 0 85px 0;
  .wrapper();

  @media (min-width: @tablet-width) {
    padding-top: 93px;
    padding-bottom: 89px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 42px;
    padding-bottom: 163px;
  }

  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: -3px;
    right: -13px;
    width: 292px;
    height: 353px;
    background-image: url("../img/about-mobile@1x.png");
    background-size: 292px 353px;
    background-position: 2px 2px;
    z-index: -1;

    @media (min-width: @tablet-width) {
      width: 376px;
      height: 548px;
      top: 101px;
      right: -65px;
      background-image: url("../img/about-tablet@1x.png");
      background-size: 376px 548px;
    }

    @media (min-width: @desktop-width) {
      top: auto;
      bottom: 0;
      right: 0;
      width: 630px;
      height: 665px;
      background-image: url("../img/about-desktop@1x.png");
      background-size: 630px 665px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-mobile@2x.png");

      @media (min-width: @tablet-width) {
        background-image: url("../img/about-tablet@2x.png");
      }

      @media (min-width: @desktop-width) {
        background-image: url("../img/about-desktop@2x.png");
      }
    }
  }
}

.about__text-wrapper {
  .margin();

  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -33px;
    left: -49px;
    width: 113px;
    height: 132px;
    border-radius: 20px;
    background-color: @dark-blue3;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: -41px;
      left: -34px;
      height: 212px;
      width: 688px;
    }

    @media (min-width: @desktop-width) {
      width: 212px;
      height: 192px;
      top: -42px;
      left: -70px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.about__title {
  margin-bottom: 20px;
  max-width: 211px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
    max-width: 308px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
    max-width: 619px;
  }
}

.about__description {
  .text();
  color: @white;
  margin-bottom: 20px;
  max-width: 224px;

  &--bold {
    font-weight: bold;
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;
    max-width: 300px;
    margin-bottom: 31px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 54px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 619px;
    margin-bottom: 38px;

    &--bold {
      max-width: 425px;
      margin-bottom: 85px;
    }
  }
}

.about__to-all {
  display: none;

  @media (min-width: @tablet-width) {
    .button-with-triangle-arrow();
    width: 211px;
    padding-left: 32px;
    padding-top: 28px;
    padding-right: 32px;
  }
}
