.about {
  background-color: @blue3;
}

.about__wrapper {
  padding: 30px 60px 85px 50px;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  .text();
  color: @white;
  margin-bottom: 20px;
}
