.add-plan {
  background-color: @light-gray5;
  .border-top();
}

.add-plan__wrapper {
  padding-top: 30px;
  padding-bottom: 153px;
  .wrapper();
  margin-top: -30px;

  @media (min-width: @tablet-width) {
    padding-top: 53px;
    padding-bottom: 83px;
    margin-top: -42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
    padding-bottom: 90px;
    margin-top: -57px;
  }
}

.add-plan__title {
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @blue2;

  margin-bottom: 30px;

  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 56px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 43px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: @blue2;
    box-shadow: 16px 0 0 0 rgba(@blue2, 0.3),
      32px 0 0 0 rgba(@blue2, 0.3);

    @media (min-width: @tablet-width) {
      top: 20px;
      right: 73px;
      width: 6px;
      height: 6px;
      box-shadow: 30px 0 0 0 rgba(@blue3, 0.3),
        60px 0 0 0 rgba(@blue3, 0.3);
    }

    @media (min-width: @desktop-width) {
      background-color: inherit;
      box-shadow: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 72px;
  }
}

.add-plan__list {
  .list();
}
