.button-hide {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: @blue2;

  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: @gray4;
  border: none;
  border-radius: 20px;

  display: block;
  width: auto;
  padding: 11px 20px;

  &:hover,
  &:focus {
    background-color: @gray5;
  }

  &:active {
    color: rgba(@blue2, 0.3);
  }
}
