.button-form {
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: @blue2;
  text-transform: uppercase;
  text-align: center;

  // &--change {

  // }

  &--grey {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: @black;
    opacity: 0.3;
    letter-spacing: 0.03em;
    border: none;
    background-color: inherit;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  &--next,
  &--submit {
    padding: 10px 20px;
    background-color: @yellow;
    border-radius: 25px;

    display: block;
    width: auto;

    &:hover,
    &:focus {
      background-color: @yellow-dark;
    }

    &:active {
      color: rgba(@blue3, 0.3);
    }
  }

  &--submit {
    border: none;
    min-width: 230px;
  }

  &--prev {
    padding: 0 20px;
    display: block;
    width: auto;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--choose {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: @blue3;
    letter-spacing: 0.1em;
    border: 1px solid @ligh-gray3;
    background-color: inherit;

    &:hover,
    &:focus {
      border: 1px solid @dark-gray3;
    }

    &:active {
      color: @white;
      border: 1px solid inherit;
      background-color: @blue3;
    }
  }

  &--add {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: @blue3;
    letter-spacing: 0.1em;
    border-radius: 4px;
    text-align: left;
    background-color: @light-gray;
    border: none;

    &:hover,
    &:focus {
      background-color: @light-gray4;
    }

    &:active {
      background-color: @light-gray4;
    }
  }
}
