.choose-country {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 369px 149px;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.choose-country__button {
  border-radius: 4px;
  margin-bottom: 22px;

  position: relative;

  background: url("../img/dropdown-form.svg") no-repeat right 15px center;
  background-size: 12px 8px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 49px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid @ligh-gray3;

    @media (min-width: @tablet-width) {
      right: -33px;
      width: 12px;
      height: 12px;
      background-color: @white;
    }

    @media (min-width: @desktop-width) {
      right: -57px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 45px;
    right: 45px;
    width: 8px;
    height: 11px;
    background: url("../img/small-arrow.svg") no-repeat;


    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 13px;

    grid-column-start: 1;
    grid-column-end: 2;

    background: url("../img/dropdown-form.svg") no-repeat right 27px center;
    background-size: 16px 11px;
  }
}

.choose-country__modal {
  position: absolute;
  z-index: 10;
  top: 41px;

  width: 220px;
  background-color: @white;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  outline: 1px solid @ligh-gray3;
  outline-offset: -1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    top: 70px;
    display: flex;
    justify-content: space-between;
    width: 525px;
    padding: 35px 23px 33px 27px;

    grid-column-start: 1;
    grid-column-end: 3;

    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 415px;
      top: 0;
      right: 232px;
      background-color: @light-gray9;
    }
  }

  @media (min-width: @desktop-width) {
    width: 663px;
    padding: 15px 57px 20px 10px;

    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 445px;
      top: 0;
      right: 265px;
      background-color: @light-gray9;
    }
  }
}

.choose-country__table {
  width: 220px;
  height: 205px;
  border-collapse: collapse;
  cursor: pointer;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 265px;
    height: 346px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    border-collapse: separate;
    border-spacing: 15px;
    width: 361px;
    height: 408px;
  }
}

.choose-country__letter {
  text-align: center;
  width: 44px;

  border: 1px solid @ligh-gray3;

  &:hover,
  &:focus {
    border: 1px solid @dark-gray3;
  }

  &:active,
  &--active {
    background-color: @blue2;
    border: 1px solid @blue2;
  }

  @media (min-width: @tablet-width) {
    width: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 60px;
    border-radius: 4px;
  }
}

.choose-country__letter-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @blue2;
  padding: 10px 15px;

  text-transform: uppercase;

  &:active,
  &--active {
    color: @white;
  }

  @media (min-width: @tablet-width) {
    padding: 25px 17px;
  }
}

.choose-country__list {
  .list();
  margin-left: 19px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-left: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
  }
}

.choose-country__button-country {
  .text();
  color: @dark-gray;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: inherit;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    color: @blue2;
  }

  &:active {
    color: rgba(@blue2, 0.3);
  }
}


.choose-country--closed .choose-country__modal {
  display: none;
}

.choose-country--opened .choose-country__button {
  background-color: @blue3;
  color: @white;
  padding: 11px 17px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  background-image: url("../img/filter-close.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding: 24px 24px;
  }
}

.choose-country--opened .choose-country__button::before,
.choose-country--opened .countries__button-close {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
