.directions {
  background-color: @light-gray;
}

.directions__wrapper {
  padding: 100px 25px 35px 25px;
}

.directions__main-title {
  margin-left: 25px;
  margin-bottom: 20px;
}

.directions__text {
  .text();
  color: @dark-gray;
  margin: 0 20px 60px 25px;
}

.directions__list {
  .list();
}

.directions__item {
  margin-bottom: 10px;
}

.directions__photo {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.directions__info {
  background-color: @white;
  padding: 25px 24px;
  border-radius: 10px;
}

.directions__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @black;
}

.directions__description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(@dark-gray, 0.3);
}

.directions__people {
  .text();
  color: rgba(@blue, 0.3);
}

.directions__to-all {
  margin-top: 25px;
}
