.filter {
  background-color: @yellow;
  margin-bottom: 28px;
}

.filter__wrapper {
  padding-top: 26px;
  padding-bottom: 22px;
}

.filter__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: @blue2;

  letter-spacing: 0.02em;

  max-width: 145px;
  margin-bottom: 23px;
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__fieldset-wrapper {
  padding-top: 12px;
  border-top: 1px solid @yellow-dark2;
}

.filter__item-wrapper {
  margin-bottom: 15px;
}

.filter__item {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: @blue2;

  text-transform: uppercase;
}

.filter__uncover {
  background-color: inherit;
  border: none;
}
