.heart {
  display: flex;
  align-items: center;
  margin-left: -40px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.heart__description {
  position: relative;
  cursor: pointer;
  width: 31px;
  height: 31px;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.heart__description::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  z-index: 1;
  border-radius: 50px;

  background-color: @light-gray6;


  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.heart__description::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 31px;
  height: 31px;
  z-index: 2;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: 12px 11px;
  background-position: center;


  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
    background-size: 20px 20px;
  }
}

.heart__checkbox[type="checkbox"]:checked ~ .heart__description::before {
  background-color: @light-pink;
}

.heart__checkbox[type="checkbox"]:checked ~ .heart__description::after {
  opacity: 1;
  background-image: url("../img/heart-active.svg");
}

.heart__checkbox[type="checkbox"]:checked:focus ~ .heart__description::before,
.heart__checkbox[type="checkbox"]:checked:hover ~ .heart__description::before {
  background-color: @light-pink2;
}

.heart__checkbox[type="checkbox"]:checked:focus ~ .heart__description::after,
.heart__checkbox[type="checkbox"]:checked:hover ~ .heart__description::after {
  opacity: 1;
}

.heart__checkbox[type="checkbox"]:checked:active ~ .heart__description::before {
  background-color: @light-pink2;
}

.heart__checkbox[type="checkbox"]:checked:active ~ .heart__description::after {
  opacity: 0.3;
}

.heart__checkbox[type="checkbox"]:focus ~ .heart__description::after,
.heart__checkbox[type="checkbox"]:hover ~ .heart__description::after {
  opacity: 0.5;
}

.heart__checkbox[type="checkbox"]:active ~ .heart__description::after {
  opacity: 0.1;
}

.heart__count-like {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;

  color: @blue;
  text-transform: uppercase;
  align-self: center;
  display: block;
  order: 2;

  @media (min-width: @tablet-width) {
    width: 70px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
  }
}
