.information {
  background-color: @blue3;
}

.information__header {
  background-color: @blue;
}

.information__slogan {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: @white;

  text-align: center;
}

.information__quote {
  .text();
  color: @white;
  margin-left: 50px;
  width: 161px;
  margin-bottom: 18px;
}

.information__author {
  .text();
  color: @white;
  margin-left: 50px;
  width: 161px;
  margin-bottom: 30px;
}

.information__list {
  .list();
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @blue;
  margin: 0 auto;
}

.information__item {
  width: 138px;
  min-height: 85px;
  border-radius: 10px;
  margin: 0 auto;
  padding-left: 24px;
  padding-top: 22px;
  padding-right: 108px;
}

.information__item:nth-child(4n + 1) {
  background-color: @orange;
}

.information__item:nth-child(4n + 2) {
  background-color: @orange-light;
}

.information__item:nth-child(4n + 3) {
  background-color: @yellow-dark;
}

.information__item:nth-child(4n + 4) {
  background-color: @yellow;
}
