.level__circle {
  &--catalog {
    @media (min-width: @tablet-width) {
      r: 30px;
      cx: 32px;
      cy: 32px;

      stroke-dashoffset: 59;

      &-rogovaya {
        @media (min-width: @tablet-width) {
          stroke-dashoffset: 70;
          stroke-dasharray: 117 93;
        }
      }
    }
  }
}

.level {
  &--index {
    z-index: 1;

    top: 79px;
    left: 17px;
    width: 60px;
    height: 60px;
    background: rgba(@black, 0.6);
    position: relative;
    border-radius: 50%;
  }

  &--catalog {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;

    @media (min-width: @tablet-width) {
      width: 60px;
      height: 60px;
    }
  }
}

.level__info {
  &--index {
    margin-top: -70px;
  }

  &--form {
    margin-top: -100px;
  }

  &--catalog {
    margin-top: -70px;
  }
}

.level__number {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;

  font-size: 24px;
  line-height: 24px;

  &--index {
    color: @white;

    margin-top: 11px;
    width: 30px;
    padding-bottom: 1px;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(@white, 0.3);
  }

  &--form {
    font-size: 38px;
    line-height: 38px;
    color: @blue;

    margin-top: 15px;
    width: 50px;
    padding-bottom: 2px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(@dark-gray, 0.3);

    @media (min-width: @desktop-width) {
      color: @white;
      border-bottom: 1px solid rgba(@white, 0.3);
    }
  }

  &--catalog {
    color: @blue3;
    margin-top: 12px;
    padding-left: 3px;

    @media (min-width: @tablet-width) {
      padding-bottom: 1px;
      margin-bottom: 1px;
      border-bottom: 1px solid rgba(@black, 0.1);
      width: 30px;
    }
  }
}

.level__text {
  font-weight: normal;
  text-align: center;
  margin: 0 auto;

  font-size: 14px;
  line-height: 14px;

  &--index {
    color: @white;

    width: 30px;
  }

  &--form {
    font-size: 18px;
    line-height: 18px;
    color: @dark-gray;

    width: 50px;

    @media (min-width: @desktop-width) {
      color: @white;
    }
  }

  &--catalog {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      color: @black;
      opacity: 0.4;

      width: 30px;
    }
  }
}
