.main-nav {
  background-color: @white;

  &--closed {
    background-color: inherit;
  }

  @media (min-width: @desktop-width) {
    background-color: inherit;
  }
}

.main-nav__wrapper {
  padding-top: 118px;
  .wrapper();

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 180px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;
    padding-bottom: 11px;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  .list();
}


.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  background-color: inherit;
  cursor: pointer;
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    top: 47px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 25px;
  height: 3px;
  background-color: @white;
  box-shadow: 0 8px 0 0 @white;
  border-radius: 1.5px;

  @media (min-width: @tablet-width) {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-nav--opened .main-nav__toggle {
  top: 10px;
  right: 0;

  @media (min-width: @tablet-width) {
    top: 40px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: @dark-gray2;
    border-radius: 1.5px;

    @media (min-width: @tablet-width) {
      right: auto;
      left: 14px;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: @dark-gray3;
  }

  &:active::before,
  &:active::after {
    background-color: @black;
  }
}


@media (max-width: @tablet-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--closed .users-links--main-nav {
    display: none;
  }

  .main-nav--closed .social-list {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {
    padding-top: 0;
  }

  .main-nav--closed .users-links__login {
    font-weight: bold;
    letter-spacing: normal;
  }


  .main-nav--opened .site-list {
    display: block;
  }

  .main-nav--opened .users-links--main-nav {
    display: block;
  }

  .main-nav--opened .social-list {
    display: flex;
  }


  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }


  @media (min-width: @tablet-width) {
    .main-nav--closed .users-links--main-nav {
      display: inline;
    }

    .main-nav--closed .users-links__item {
      display: none;
    }

    .main-nav--closed .users-links__item:nth-child(1) {
      display: inline;
    }
  }
}
