.main-nav {
  background-color: @white;

  @media (min-width: @desktop-width) {
    background-color: inherit;
  }
}

.main-nav__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__wrapper {
  padding: 0 25px;
  .width();
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-nav__list {
  .list();
}
