.map {
  width: 100%;
  margin: 0 auto;
}

.map__img {
  @media (min-width: @tablet-width) {
    width: 768px;
    height: 581px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 584px;
  }
}
