.months {
  border-bottom: 1px solid @gray2;
  border-top: 1px solid @gray2;
  padding: 10px 0;
  min-height: 22px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 37px;
    padding-bottom: 26px;
  }
}

.months__month {
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;

  color: @blue2;
  text-align: center;
  margin: 0;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.months__button {
  background-color: inherit;
  border: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--prev {
    left: -8px;
  }

  &--next {
    right: -8px;
  }

  @media (min-width: @tablet-width) {
    svg {
      width: 29px;
      height: 36px;
    }

    &--prev {
      left: 8px;
    }

    &--next {
      right: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    svg {
      width: 34px;
      height: 30px;
    }

    &--prev {
      left: -12px;
    }

    &--next {
      right: -7px;
    }
  }

  & path {
    fill: rgba(@black, 0.3);
  }

  &:hover path,
  &:focus path {
    fill: rgba(@black, 0.5);
  }

  &:active path {
    fill: rgba(@black, 0.1);
  }
}
