.page-heading {
  background-color: @dark-blue2;
  .border-bottom();
}

.page-heading__inner {
  padding-top: 95px;
  .wrapper();


  @media (min-width: @tablet-width) {
    padding-top: 224px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 125px;
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-heading__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: @white;

  padding-bottom: 10px;
  border-radius: 4px;

  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: -3px;
    width: 214px;
    height: 5px;
    background-color: @orange;
    border-radius: 4px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;

    padding-bottom: 62px;

    &::before {
      width: 358px;
      height: 8px;
    }
  }

  &--catalog {
    &::before {
      width: 172px;

      @media (min-width: @tablet-width) {
        width: 288px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    .padding-form-page();
  }
}

.page-heading__to-main {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: @white;

    text-transform: uppercase;
    margin-top: 24px;
    margin-right: 60px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
