.page-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: @dark-blue2;
  z-index: 5;

  &--opened {
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @blue;
    position: relative;
  }
}

.page-header__wrapper {
  position: relative;

  .wrapper();

  @media (min-width: @tablet-width) {
    width: 688px;
  }

  @media (min-width: @desktop-width) {
    .wrapper();
  }
}

.page-header__logo {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 6;

  .page-header--opened & {
    top: 26px;

    @media (min-width: @tablet-width) {
      top: 45px;
    }
  }

  @media (min-width: @tablet-width) {
    top: 45px;
  }

  @media (min-width: @desktop-width) {
    top: 48px;
  }
}

.page-header__logo-img {
  @media (min-width: @tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 52px;

    &--blue {
      display: none;
    }
  }
}

@media (max-width: @tablet-width-only) {
  .page-header--opened .page-header__logo-img--white,
  .page-header--closed .page-header__logo-img--blue {
    display: none;
  }

  .page-header--closed .page-header__logo-img--white,
  .page-header--opened .page-header__logo-img--blue {
    display: block;
  }
}

.page-header--second-menu {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    background-color: @white;
    z-index: 8;
    position: relative;

    .main-nav__wrapper {
      padding-top: 16px;
      padding-bottom: 19px;
    }

    .page-header__logo {
      top: 22px;
    }

    .page-header__logo-img--white {
      display: none;
    }

    .page-header__logo-img--blue {
      display: block;
    }

    .site-list {
      &::before {
        left: -89px;
        width: 44px;
        background-color: @blue3;
      }
    }

    .site-list__item a {
      color: @blue3;

      &:hover,
      &:focus {
        color: @yellow;
      }

      &:active {
        color: rgba(@yellow, 0.3);
      }
    }
  }
}
