.page-footer {
  background-color: @white;
  .border-top();
  z-index: 2;
}

.page-footer__wrapper {
  padding: 37px 0 20px 0;
  .wrapper();
  margin-top: -110px;

  @media (min-width: @tablet-width) {
    padding: 46px 0 32px 0;
    width: 690px;
    margin-top: -70px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 46px 0 43px 0;
    width: 1322px;
    margin-top: -66px;
  }
}

.page-footer__logo-wrapper {
  max-width: 96px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    max-width: 164px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    max-width: 200px;
  }
}

.page-footer__logo-img {
  @media (min-width: @tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 55px;
  }
}

.page-footer__social {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
