.pagenavi {
  background-color: @white;

  border-radius: 20px;
  margin-top: 18px;

  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 57px;
    background-color: @light-gray;
  }

  @media (min-width: @tablet-width) {
    padding: 25px 0;
    padding-left: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.pagenavi__list {
  .list();
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.pagenavi__item {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &--active {
    background-color: @yellow;
  }
}

.pagenavi__number {
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
  color: @blue3;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.3em;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.pagenavi__buttons {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: right;
  }
}

.pagenavi__button {
  background-color: inherit;
  border: none;

  padding: 17px 63px;

  @media (min-width: @tablet-width) {
    padding: 17px 30px;
  }

  & polygon {
    fill: @blue2;
  }

  &:hover polygon,
  &:focus polygon {
    fill: rgba(@blue2, 0.6);
  }

  &:active polygon {
    fill: rgba(@blue2, 0.3);
  }
}
