.plans {
  background-color: @light-gray4;
  .border-top();

  @media (min-width: @tablet-width) {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  @media (min-width: @desktop-width) {
    .border-top();
  }
}

.plans__wrapper {
  padding-top: 26px;
  padding-bottom: 60px;
  .wrapper();

  @media (min-width: @tablet-width) {
    margin-top: -15px;
    padding-top: 55px;
    padding-bottom: 118px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 52px;
    padding-bottom: 121px;
    margin-top: -10px;
  }
}

.plans__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  color: @blue2;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
    margin-bottom: 53px;
  }
}

.plans__list {
  .list();

  @media (min-width: @desktop-width) {
    .padding-form-page();
  }
}

.plans__item {
  margin-bottom: 8px;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    border-radius: 10px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}
