.route {
  background-color: @yellow;
}

.route__wrapper {
  padding: 63px 25px 35px 25px;
}

.route__address {
  .text();
  font-weight: bold;
  text-transform: uppercase;
  color: @blue2;
  margin-bottom: 32px;
}
