.route {
  background-color: @yellow;
  .border-bottom();
  z-index: 2;
}

.route__wrapper {
  padding: 62px 0 35px 0;
  .wrapper();
  margin-top: -30px;

  @media (min-width: @tablet-width) {
    padding: 122px 0 85px 0;
    margin-top: -54px;
  }

  @media (min-width: @desktop-width) {
    padding: 118px 0 62px 0;
    margin-top: -61px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.route__address {
  .text();
  font-weight: bold;
  text-transform: uppercase;
  color: @blue2;
  margin-bottom: 32px;
  margin-left: 60px;
  max-width: 143px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
    max-width: none;
    margin-bottom: 63px;
    margin-left: 95px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-left: 344px;
  }

  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: 0;
    left: -60px;
    background-image: url("../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-color: @dark-blue;
    border-radius: 50%;
    background-position: center;


    @media (min-width: @tablet-width) {
      width: 68px;
      height: 68px;
      top: -20px;
      left: -95px;
      background-size: 31px 31px;
    }

    @media (min-width: @desktop-width) {
      width: 90px;
      height: 90px;
      top: -30px;
      left: -120px;
      background-size: 41px 41px;
    }
  }
}

.route__button {
  .button-with-triangle-arrow();
  padding-bottom: 19px;
  padding-top: 19px;

  @media (min-width: @tablet-width) {
    padding-left: 34px;
    padding-top: 25px;
    padding-right: 32px;
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 253px;
    margin-right: 75px;
    padding-top: 25px;
    padding-bottom: 27px;
  }
}
