.site-list {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 134px;
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 21px;
    margin-bottom: 12px;
    margin-left: 345px;
    display: flex;
    flex-direction: row;
    column-gap: 34px;

    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 35%;
      transform: translateY(-50%);
      left: -105px;
      width: 60px;
      height: 2px;
      background-color: @white;
    }
  }
}

.site-list__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    & a {
      height: 1em;
      overflow: hidden;
      padding: 0 4px;
    }

    & a span {
      display: inline-block;
      position: relative;
      transition: transform 0.3s ease 0s;
    }

    & a span::before {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      transform: translate3d(0, 0, 0);
    }

    & a:hover span,
    & a:focus span {
      transform: translateY(-100%);
    }
  }
}

.site-list__item a {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  cursor: pointer;

  color: @blue3;

  &:hover,
  &:focus {
    color: rgba(@blue3, 0.7);
  }

  &:active {
    color: rgba(@blue3, 0.3);
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: @white;

    position: relative;
    display: inline-block;
    outline: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);

    &:hover,
    &:focus {
      color: @yellow;
      outline: none;
    }

    &:active {
      color: rgba(@yellow, 0.3);
    }
  }
}
