.site-list {
  margin-top: 118px;
  margin-bottom: 50px;
}

.site-list__item {
  text-align: center;
}

.site-list__item a {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;

  color: @blue3;

  &:hover,
  &:focus {
    color: rgba(@blue3, 0.7);
  }

  &:active {
    color: rgba(@blue3, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    margin-top: 185px;
    margin-bottom: 144px;
  }

  .site-list__item {
    text-align: left;
  }

  .site-list__item a {
    font-size: 60px;
    line-height: 71px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    margin-top: 21px;
    margin-bottom: 12px;
    display: flex;
  }

  .site-list__item {
    margin-right: 34px;
  }

  .site-list__item a {
    font-size: 20px;
    line-height: 20px;
    color: @white;
  }
}
