.transpotrs-hover {
  position: relative;
  cursor: pointer;
}

.transpotrs-hover__hover-description {
  display: none;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: @white;
  text-align: center;

  background: @dark-blue4;
  border-radius: 4px;

  padding: 18px 18px;
  z-index: 2;

  position: absolute;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    right: 45%;
    transform: translateX(-45%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: @dark-blue4;
  }
}

.transpotrs-hover:hover .transpotrs-hover__hover-description {
  display: block;
  width: 110px;
  top: 110%;
  left: 50%;
  margin-left: -70px;
}
