.travelers-profiles__wrapper {
  .wrapper();

  @media (min-width: @tablet-width) {
    .width-catalog-page();
  }
}

.travelers-profiles__list {
  .list();
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.travelers-profiles__item {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.travelers-profiles__yet-botton {
  margin-bottom: 18px;
  display: block;
  text-align: center;

  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("");
    width: 18px;
    height: 18px;
    left: -40px;
    top: 2px;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.travelers-profiles__pagenavi {
  margin-bottom: 46px;
}
