.travelers {
  background-color: @blue3;
}

.travelers__wrapper {
  padding: 100px 25px 30px 25px;
}

.travelers__title {
  margin-left: 25px;
  margin-right: 29px;
}

.travelers__description {
  margin: 20px 29px 25px 25px;
  .text();
  color: @white;
}

.travelers__avatar {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.travelers__list {
  .list();
}

.travelers__info {
  padding: 27px 36px 20px 46px;
  background-color: @white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.travelers__name {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @blue2;

  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.travelers__hashtags {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-gray;

  text-align: center;
  margin: 15px 0;
}

.travelers__transpotrs-list {
  .list();
}

.travelers__to-all {
  margin-top: 20px;
}
