.travelers {
  background-color: @blue3;
  .border-bottom();
  z-index: 5;
}

.travelers__wrapper {
  padding: 100px 0 30px 0;
  .wrapper();
  margin-top: -30px;

  @media (min-width: @tablet-width) {
    padding: 208px 0 87px 0;
    margin-top: -67px;
  }

  @media (min-width: @desktop-width) {
    padding: 231px 0 134px 0;
    margin-top: -101px;

    display: grid;
    grid-template-columns: 498px 630px;
    column-gap: 193px;
    grid-template-rows: repeat(2, auto);
  }

  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 68px;
    right: 0;
    width: 143px;
    height: 143px;
    background-size: 143px 143px;
    border-radius: 5px;
    background-image: url("../img/smolov-back-desktop@1x.png");
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png");
    }

    @media (min-width: @tablet-width) {
      top: 147px;
      width: 285px;
      height: 285px;
      background-size: 285px 285px;
      border-radius: 20px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/rogovaya-back-desktop@2x.png");
      }
    }

    @media (min-width: @desktop-width) {
      top: auto;
      bottom: 80px;
      left: 130px;
      right: auto;
    }
  }
}

.travelers__text-wrapper {
  .margin();
  margin-bottom: 25px;

  position: relative;


  &::before {
    position: absolute;
    content: "";
    top: -33px;
    left: -50px;
    width: 113px;
    height: 132px;
    background-color: @dark-blue3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: -70px;
      left: -33px;
      width: 212px;
      height: 212px;
      border-radius: 20px;
    }

    @media (min-width: @desktop-width) {
      top: -60px;
      left: -70px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;

    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.travelers__title {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }
}

.travelers__description {
  margin-bottom: 25px;
  .text();
  color: @white;

  &--bold {
    font-weight: bold;
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 39px;
    max-width: 427px;

    &--bold {
      font-size: 21px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: none;
    margin-bottom: 42px;

    &--bold {
      margin-bottom: 0;
    }
  }
}

.travelers__list {
  .list();
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 81px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: -27px;
    width: 71px;
    height: 71px;
    background-size: 71px 71px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: url("../img/rogovaya-back-mobile@1x.png");
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
    }

    @media (min-width: @tablet-width) {
      top: -97px;
      left: -34px;
      width: 143px;
      height: 143px;
      background-size: 143px 143px;
      border-radius: 20px;
      background-image: url("../img/smolov-back-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/smolov-back-desktop@2x.png");
      }
    }

    @media (min-width: @desktop-width) {
      top: 0;
      left: -203px;
    }
  }
}

.travelers__item {
  width: 270px;
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 10px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 285px;
    margin: 0;
    margin-top: -60px;
  }
}

.travelers__avatar {
  display: block;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  max-width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 285px;
  }
}

.travelers__flags {
  position: absolute;
  top: 317px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    top: 330px;
  }
}

.travelers__info {
  padding: 27px 0 20px 0;
  background-color: @white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  @media (min-width: @tablet-width) {
    padding: 27px 0 20px 0;
  }
}

.travelers__name {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @blue2;

  text-align: center;
  cursor: pointer;

  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;

  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 23px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: @light-red;

    @media (min-width: @tablet-width) {
      left: -5px;
    }
  }

  &--online::before {
    background-color: @green;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.travelers__hashtags {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-gray;

  text-align: center;
  max-width: 188px;
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
    max-width: 223px;
    margin-bottom: 24px;
  }
}

.travelers__transpotrs-list {
  .list();
  justify-content: center;
  position: relative;
  z-index: 5;
}

.travelers__to-all {
  .button-with-triangle-arrow();

  @media (min-width: @desktop-width) {
    .margin();
    width: 280px;
    align-self: flex-end;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
