.users-links {
  &--main-nav {
    margin-bottom: 40px;
  }

  @media (min-width: @tablet-width) {
    &--main-nav {
      margin-bottom: 130px;
      margin-left: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    &--main-nav {
      margin: 0;
      display: flex;
      align-items: center;

      .users-links__item--authorization {
        order: 1;
      }
    }

    &--form {
      display: flex;
    }
  }
}

.users-links__info {
  .text();
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;

  &--main-nav {
    color: @blue3;
    fill: @yellow;
    font-size: 16px;
    line-height: 18px;

    &:hover,
    &:focus {
      color: rgba(@blue3, 0.7);
      fill: @yellow-dark;
    }

    &:active {
      color: rgba(@blue3, 0.3);
      fill: rgba(@yellow-dark, 0.3);
    }
  }

  &--form {
    color: @yellow;
    fill: currentColor;
    font-size: 16px;
    line-height: 18px;

    &:hover,
    &:focus {
      color: @yellow-dark;
    }

    &:active {
      color: rgba(@yellow-dark, 0.3);
    }
  }

  @media (min-width: @tablet-width) {
    &--main-nav {
      font-size: 28px;
      line-height: 28px;
    }

    &--form {
      font-size: 28px;
      line-height: 28px;
    }
  }

  @media (min-width: @desktop-width) {
    &--tel,
    &--mail {
      display: block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0;
    }

    &--tel {
      background-color: @orange;

      &:hover,
      &:focus {
        background-color: @dark-orange2;
      }
    }

    &--mail {
      background-color: @yellow-dark;

      &:hover,
      &:focus {
        background-color: @orange;
      }
    }


    &--main-nav {
      fill: @blue3;

      &:hover,
      &:focus {
        fill: @blue3;
      }

      &:active {
        fill: rgba(@blue3, 0.3);
      }

      span {
        display: none;
      }
    }

    &--form:nth-child(2n + 1) {
      margin-left: 228px;
    }

    &--form:nth-child(2n + 2) {
      margin-left: 110px;
    }
  }
}

.users-links__icons {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: @tablet-width-only) {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 16px;

    background-color: @dark-blue;

    @media (min-width: @tablet-width) {
      width: 68px;
      height: 68px;
      margin-right: 22px;
    }
  }

  &--form {
    @media (min-width: @desktop-width) {
      border-radius: 50%;
      background-color: @dark-blue;
      width: 90px;
      height: 90px;
      margin-right: 31px;
    }
  }
}

.users-links__icon {
  @media (min-width: @tablet-width) {
    width: 27px;
    height: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 36px;
    height: 34px;

    .users-links--main-nav & {
      display: none;
    }
  }
}

.users-links__icon-topmenu {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
    margin-top: 16px;
  }
}

.users-links__login {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    padding-top: 14px;
    padding-bottom: 13px;
    min-width: 132px;
    letter-spacing: 0.03em;

    position: absolute;
    top: 40px;
    right: 0;
    z-index: 6;
  }

  @media (min-width: @desktop-width) {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: normal;

    padding-top: 16px;
    padding-bottom: 14px;

    position: static;
    margin-bottom: 0;
  }
}
