@blue-light: #132576;

@blue: #161C35;
@blue2: #1D2E5B;
@blue3: #192144;

@dark-blue: #121936;
@dark-blue2: #182044;
@dark-blue3: #141B3B;
@dark-blue4: #101D41;

@light-gray: #EDEFF6;
@light-gray2: #E6E8F1;
@ligh-gray3: #CBCED9;
@light-gray4: #DFE3F0;
@light-gray5: #D4D9EB;
@light-gray6: #E2E5F2;
@light-gray8: #E2E5F1;
@light-gray9: #E1E3E9;

@gray: #F3F4F8;
@gray2:#D6D9E6;
@gray3: #D1D7E9;
@gray4: #D6DAED;
@gray5: #C8CEE8;

@dark-gray: #444444;
@dark-gray2: #CCCCCC;
@dark-gray3: #959BB2;

@orange-light: #FFA530;
@orange: #FF8D30;
@dark-orange: #FF5C23;
@dark-orange2: #F26926;

@yellow: #FFD74B;
@yellow-dark: #FFBD30;
@yellow-dark2: #F3C72B;

@light-red: #F97676;
@green: #BBF085;

@light-pink: #F9EAEA;
@light-pink2: #F9D8D8;

@black: #000000;
@white: #ffffff;


// @light-gray7: #E5E5E5;

// @gray6: #F2F2F2;

// @dark-gray4: #999999;
